@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: border-box;
  display: flex;

}
